/* Fonts */

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Regular.ttf');
}

/*********/

body {
  padding: 0;
  margin: 0;
  color: #202020;
  text-align: center;
  font-family: "Quicksand", "Roboto", sans-serif;
  font-weight: 600;
  overflow: hidden;
}

h1 {
  color: #404040;
}

#startStopBtn {
  display: inline-block;
  margin: 0 auto;
  color: white;
  background: linear-gradient(271deg, #0C9CF8 0%, #042799 100%);
  border-radius: 0.3em;
  transition: all 0.3s;
  box-sizing: border-box;
  width: 8em;
  height: 3em;
  line-height: 2.7em;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), inset 0 0 0 rgba(0, 0, 0, 0.1);
}

#startStopBtn:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418)
}

#startStopBtn.running {
  background: linear-gradient(271deg, #FF6060 0%, #FF3030 100%);
  color: #FFFFFF;
}

#startStopBtn:before {
  content: "Iniciar";
}

#startStopBtn.running:before {
  content: "Detener";
}

#test {
  margin-top: 2em;
   margin-bottom: 2em;
}

div.testArea {
  display: inline-block;
  width: 16em;
  height: 12.5em;
  position: relative;
  box-sizing: border-box;
}

div.testArea2 {
  display: inline-block;
  width: 14em;
  height: 7em;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}

div.testArea div.testName {
  position: absolute;
  top: 0.1em;
  left: 0;
  width: 100%;
  font-size: 1.4em;
  z-index: 9;
}

div.testArea2 div.testName {
  display: block;
  text-align: center;
  font-size: 1.4em;
}

div.testArea div.meterText {
  position: absolute;
  bottom: 1.55em;
  left: 0;
  width: 100%;
  font-size: 2.5em;
  z-index: 9;
}

div.testArea2 div.meterText {
  display: inline-block;
  font-size: 2.5em;
}

div.meterText:empty:before {
  content: "0.00";
}

div.testArea div.unit {
  position: absolute;
  bottom: 2em;
  left: 0;
  width: 100%;
  z-index: 9;
}

div.testArea2 div.unit {
  display: inline-block;
}

div.testArea canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

div.testGroup {
  display: block;
  margin: 0 auto;
}

@media all and (max-width:40em) {
  body {
    font-size: 0.8em;
  }
}

/* NEW STYLES */

hr{
  background-color: none;
  border: 1px solid rgba(66, 66, 66, 0.267);
}

.mainTitle {
  font-size: 60px;
  font-family: "Nunito";
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(4,39,153,1) 11%, rgba(12,156,248,1) 90%); 
  /* background-color: #1840c4; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@media only screen and (max-width: 460px){
  .container{
    width: 100%;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.952);
  width: 600px;
  border-radius: 24px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.404);
}

.logoContainer .logo {
  width: 100%;
}
.footer{
  padding: 10px;
}

a{
  transition: opacity 400ms;
  color: #0C9CF8;
  text-decoration: none;
}

a:hover{
  opacity: 0.6;
}